* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: linear-gradient(135deg, #000000, #1a0000);
    color: white;
    scroll-behavior: smooth;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background: #111;
    position: sticky;
    top: 0;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

header {
    text-align: center;
    padding: 120px 20px;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background: #ff0000;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    transition: 0.3s ease;
    box-shadow: 0 0 10px #ff0000;
}

.btn:hover {
    background: black;
    color: #ff0000;
    box-shadow: 0 0 20px #ff0000, 0 0 40px #ff0000;
}

section {
    padding: 80px 20px;
    text-align: center;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 15px;
    margin-top: 20px;
}
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.profile-image {
    width: 250px;
    border-radius: 50%;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    animation: float 3s ease-in-out infinite;
    cursor: pointer;
    box-shadow: 0 0 15px #ff0000;
}

/* Floating animation */
@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0px);
    }
}

/* Hover effect */
.profile-image:hover {
    transform: scale(1.1);
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
}

.skills-grid div {
    background: #1e1e1e;
    padding: 15px;
    border-radius: 8px;
}

.project-card {
    background: #111;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    border-radius: 10px;
    transition: 0.3s;
    border: 1px solid #ff0000;
}

.project-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #ff0000;
}

.project-card:hover {
    transform: scale(1.05);
}

.reveal {
    opacity: 0;
    transform: translateY(40px);
    transition: 1s;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

/* Responsive */
@media(max-width:768px) {
    nav {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        margin-top: 10px;
    }
}
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at var(--x) var(--y), rgba(255,0,0,0.15), transparent 20%);
    pointer-events: none;
}